/* Base styles */
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px; /* Added padding for smaller screens */
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Allow nav items to wrap */
}

nav ul li {
    margin-left: 20px;
}

.about,
.projects {
    display: flex;
    align-items: center; /* Center content for smaller screens */
    margin-bottom: 20px;
}

.projects {
    flex-direction: column; /* Stack elements on smaller screens */
}

.about img,
.project img {
    height: auto;
    border-radius: 20px;
    max-width: 100%;
}

.about img {
    max-width: 30%;
}

.project-container {
    display: flex;
    flex-wrap: wrap; /* Allow projects to wrap */
    justify-content: center;
}

.project {
    width: 100%; /* Make project take full width on smaller screens */
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.skills-container {
    display: flex;
    flex-wrap: wrap; /* Allow skills to wrap */
    justify-content: space-between;
    font-size: 3em;
}

.skills-container i {
    margin: 10px; /* Reduce margin for icons */
}

#contact {
    display: block;
}

#contact-icons {
    font-size: 2em;
}

/* Media Queries */
@media (min-width: 768px) {
    .about,
    .projects {
        justify-content: space-between;
    }

    .about img {
        margin-left: 30px; /* Add margin to separate text and image */
    }

    .project {
        width: 45%; /* Adjust project width for larger screens */
        margin: 2.5%; /* Add margins around projects */
    }

    nav ul li {
        margin-left: 30px; /* Increase margin for larger screens */
    }

    .about-text {
        align-self: flex-start; /* Align about section to the top */
    }
}

/* Responsive Fonts */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    header h2.logo,
    nav ul li a,
    .about h2,
    .projects h2 {
        font-size: 16px; /* Adjust heading sizes for readability */
    }
}

/* Additional Styles for Improved Responsiveness */
@media (max-width: 480px) {
    nav ul {
        align-items: center;
    }

    nav li {
        display: none;
    }

    #profile-pic {
        max-width: 50%;
    }

    .about,
    .projects {
        flex-direction: column; /* Stack elements on smaller screens */
    }

    .skills-container i {
        margin: 5px; /* Further reduce margin for skill icons on very small screens */
    }
}
