a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    font-family: "Open Sans", sans-serif;
    max-width: 900px;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

.about {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.about img {
    width: 200px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.projects {
    margin-bottom: 20px;
}

.projects h2 {
    text-align: center;
}

.project-container {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.project img {
    width: 400px;
}

.project {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project p {
    width: 380px;
    margin: 0;
    padding-bottom: 1em;
}

.skills-container {
    font-size: 3em;
    display: flex;
    flex: wrap;
    width: 100%;
    justify-content: space-between;
}

.skills-container i {
    margin-right: 20px;
}

#contact-icons {
    font-size: 2em;
    margin: 0;
}

footer {
    margin-bottom: 100px;
}

/* Button */
#button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
}

#button:disabled {
    pointer-events: none;
}

#button:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#button:active {
    box-shadow: none;
    transform: translateY(0);
}

.dark-mode {
    background-color: black;
}
